doctype html
html(lang="en")
  head
    title _Architekt
    link(rel='stylesheet', href='/css/styles.css')
  body
    a(href='/gallery' class='headArchitekt')
      h1 _Architekt
    input(type='button', onclick = 'location.href = "/logout"', class='logoutButt' value='LOGOUT')
    br
    block content