include ./layouts/mainLayout.jade

block content
  div(class = 'buttons')
    input(type = 'submit', value = 'update post', onclick = 'location.href += "/edit"')
    input(type = 'submit', value = 'delete post')
  div
    h1 ORIGINAL DATAS
  div
    img(src='http://img01.deviantart.net/4c27/i/2013/143/e/1/dj_catbug_by_eilemont-d66c3gk.png')
  div
    p ORIGINAL DATAS
