include ./layouts/mainLayout.jade

block content
  input(type = 'text', class = 'author', placeholder = 'author\'s name')
  br
  input(type = 'text', class = 'imglink', placeholder = 'image url')
  br
  input(type = 'form', class = 'description', placeholder = 'place captions and stories here')
  br
  input(type = 'submit', value ='submit')
