include ./layouts/mainLayout.jade

block content
  form(method='POST', action='/gallery')
    input(type = 'text', name = 'author', placeholder = 'author\'s name')
    br
    input(type = 'text', name = 'src', placeholder = 'image url')
    br
    input(type = 'form', name = 'descrip', placeholder = 'place captions and stories here')
    br
    input(type = 'submit', value ='submit')
