include ./layouts/mainLayout.jade
include ./mixins.jade

block content
  img(src='http://www.hdwallpapers.org/walls/at-at-sierra-nevada-fantasy-landscape-HD.jpg', class = 'img mainimg mainbox', onclick = 'location.href += "gallery/id"')
  div.posts
    +newImage(tempData)

//-     var tempData = [
//-   { src : 'http://img01.deviantart.net/4c27/i/2013/143/e/1/dj_catbug_by_eilemont-d66c3gk.png', id : 1 },
//-   { src : 'http://i.imgur.com/s85Xa.png', id : 2 },
//-   { src : 'http://shirtoid.com/wp-content/uploads/2012/09/dead-link.jpg', id : 3 },
//-   { src : 'http://shirtoid.com/wp-content/uploads/2015/06/i-know-html-how-to-meet-ladies.jpg', id : 4 }
//- ];

//- img(src=tempData[1].src, class = 'img mainimg', onclick = ('location.href +=' + ('gallery/' + tempData[1].id) ) )
//- var i = 1
//- while i < tempData.length
//-   img(src=tempData[i].src, class = 'img sideimg', onclick = ('location.href +=' + ('gallery/' + tempData[i].id) ) )