mixin newImage(tempData)
  each post in tempData
    div.sideimage
      a(href = '/gallery/#{post.id}')
        img(src = post.src, class = 'postimg')
      p.auth= post.author
      p.descrip= post.descrip
