mixin newImage(tempData)
  each post in tempData
    div.sideimage
      a(href = '/gallery/#{post.id}')
        img(src = post.src, class = 'postimg')
      br
      b.auth= post.author
      p.descrip= post.descrip


//mixin loginButt
//  if()