
.posts{
  display: inline-block;
}

.mainimg{
  height:500px;
  width:90%;
  margin:auto;
}

.sideimage{
  height:400px;
  display: inline-block;
  width:33%;
  border: 1px solid black;
}

.postimg{
  height:300px;
  display: inline-block;
  width: 300px;
}

.headArchitekt{
  text-decoration: none;
  color: #696969;
  font-family: Helvetica, times, serif;
  font-size: 30px;
  width: 30%;
}